.leftContainer {
      width: 20%;
      background-color: #ffffff73;
      height: 100%;
      margin: 2vh;
      /* margin-top: 2vh; */
      border-radius: 15px;
      float: left;

}

.menus {
      flex-direction: column;
      list-style: none;
      padding: inherit;
      font-family: 'Montserrat Alternates';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 45px;
      letter-spacing: 0.005em;
      margin-top: 25px;
}

.rightContainer {
      width: 76%;
      height: 100%;
      background-color: #ffffff73;
      margin: 2vh;
      padding: 10vh;
      padding-left: 25rem;
      border-radius: 15px;
      float: right;
      position: relative;
      
      font-family: 'Montserrat Alternates';
}
